extends ./layout

prepend head
  - var title = "Страница товара | Интернет-магазин SitDownPls"
  - var pageName = "product"
  - var styles = ["product.scss"]
  - var scripts = ["similar-products-slider.js", "product-photo-slider.js"]

prepend header
  - var logoLink = "."
  - var breadcrumbLinks = [{ anchor: "Главная", link: "index.html" }, { anchor: "Каталог", link: "catalog.html" }, { anchor: "Диваны", link: "catalog.html" }, { anchor: "Прямые диваны", link: "catalog.html" }, { anchor: "D-31", link: "product.html" }]

block main
  include ../components/breadcrumbs
  include ../components/product
  include ../components/similar-products
