section.banner
  picture.banner__img
    source(srcset=`../assets/img/banner-1400px.webp` media="(min-width: 1400px)" type="image/webp")
    source(srcset=`../assets/img/banner-1024px.webp` media="(min-width: 1024px)" type="image/webp")
    source(srcset=`../assets/img/banner-768px.webp` media="(min-width: 768px)" type="image/webp")
    source(srcset=`../assets/img/banner.webp` type="image/webp")
    img(src=`../assets/img/banner-1400px.webp` loading="lazy" alt="")
  h5.banner__title Оксфорд 1950
  h6.banner__text Новая коллекция изысканных кресел
  a.link-reset.banner__link(href="catalog.html") Ознакомиться
