section.cooperation.container
  .cooperation__content
    h1.cooperation__main-title.visually-hidden Интернет-магазина SitDownPls&nbsp;&mdash; Сотрудничество
    h2.cooperation__title Сотрудничество

    .cooperation__to-suppliers.to-suppliers
      h3.cooperation__subtitle Поставщикам
      p.cooperation__text.to-suppliers__text При планировании обстановки торгового помещения важно обустроить его с&nbsp;комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и&nbsp;хранение товаров в&nbsp;зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы&nbsp;поможем выбрать продукцию с&nbsp;учетом нагрузки от&nbsp;поступающего трафика.

    .cooperation__getting.getting
      h3.cooperation__subtitle Что вы&nbsp;получаете?
      ul.getting__list.list-reset
        each item in [{text: "Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект."}, {text: "Комплексное решение для красивого и функционального обустройства любых пространств."}, {text: "В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах."}]
          li.getting__item
            p.cooperation__text.getting__text= item.text

    .cooperation__advantages.advantages
      h3.cooperation__subtitle.advantages__title Ваши преимущества от&nbsp;сотрудничества
      ul.advantages__list.list-reset
        each item, index in [{text: "Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а мы поможем правильно выбрать мебель."}, {text: "Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания."}]
          li.advantages__item
            span.advantages__opportunity= `Возможность ${ index + 1 }:`
            p.cooperation__text.advantages__descr= item.text

    .cooperation__guarantees.guarantees
      h3.cooperation__subtitle Гарантии
      ul.guarantees__list.list-reset
        each item in [{text: "При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара."}, {text: "На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем."}, {text: "Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки."}]
          li.guarantees__item
            p.cooperation__text.guarantees__text= item.text

      .guarantees__period
        p.guarantees__period-text Срок гарантии на&nbsp;нашу мебель составляет от&nbsp;18&nbsp;до&nbsp;60&nbsp;месяцев
